 @import '../../common/colors.scss';

 .header{
    background-color: #1a242f;
    height: 65px;
    width: 100%;
    display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // align-content: center;
    justify-content: space-between;
    align-items: center;
 }
 .header a{
     text-decoration: none;
 }
 .logo{
    color: burlywood;
    font-weight: 600;
    font-size: x-large;
 }
 .user-image, .user-image img {
     height: 100%;
 }